.videos-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column
  }

.video-container
{
    display:flex;
    align-content: center;
    justify-content: center;
    
}

.video

{
    margin: 0;
    padding: 0;
}
.data-box
{
    height: 100px;
    width:500px;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.51);
    display: flex;
    align-items: center;
    justify-content: center;
}
#uploadForm
{
    text-align: center;
}
.source
{
    font-family: 'Source Sans Pro', sans-serif;
}